.categoryList {
    width: 25%;
    float: left;
}

.root {
    display: 'flex';
    flexWrap: 'wrap';
    justifyContent: 'space-around';
}

.gridList {
    display: 'flex';
    flexWrap: 'nowrap';
    overflowX: 'auto';
}

.titleStyle {
    color: 'rgb(0, 188, 212)';
}